.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/support_v4_19_1_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
app/app.iml
app/build.gradle
app/build/generated/source/buildConfig/androidTest/debug/com/dtt/pokermen/test/BuildConfig.java
app/build/generated/source/buildConfig/debug/com/dtt/pokermen/BuildConfig.java
app/build/generated/source/r/debug/com/dtt/pokermen/R.java
app/build/intermediates/classes/androidTest/debug/com/dtt/pokermen/test/BuildConfig.class
app/build/intermediates/classes/debug/com/dtt/pokermen/BuildConfig.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$attr.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$color.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$dimen.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$drawable.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$id.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$layout.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$menu.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$raw.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$string.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R$style.class
app/build/intermediates/classes/debug/com/dtt/pokermen/R.class
app/build/intermediates/classes/debug/com/dtt/pokermen/battles/BattleActivity.class
app/build/intermediates/classes/debug/com/dtt/pokermen/battles/BattleData.class
app/build/intermediates/classes/debug/com/dtt/pokermen/data/gameDat.class
app/build/intermediates/classes/debug/com/dtt/pokermen/data/itemDat.class
app/build/intermediates/classes/debug/com/dtt/pokermen/data/trainerDat$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/data/trainerDat$2.class
app/build/intermediates/classes/debug/com/dtt/pokermen/data/trainerDat.class
app/build/intermediates/classes/debug/com/dtt/pokermen/event/BattleEvent.class
app/build/intermediates/classes/debug/com/dtt/pokermen/event/DocEvent.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level01/Lvl01.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level01/Lvl01ObjMgmt.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level01/Lvl01PokParties.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level02/Lvl02$ActivityHelper.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level02/Lvl02.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level02/Lvl02ObjMgmt.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level03/Lvl03$ActivityHelper.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level03/Lvl03.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level03/Lvl03ObjMgmt.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level04/Lvl04$ActivityHelper.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level04/Lvl04.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level04/Lvl04ObjMgmt.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level05/Lvl05$ActivityHelper.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level05/Lvl05.class
app/build/intermediates/classes/debug/com/dtt/pokermen/levels/level05/Lvl05ObjMgmt.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$10.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$2.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$3.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$4.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$5.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$6.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$7.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$8.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence$9.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/IntroSequence.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/MainActivity$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/MainActivity$ActivityHelper.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/MainActivity$Global.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/MainActivity.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/Splash$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/Splash$ActivityHelper.class
app/build/intermediates/classes/debug/com/dtt/pokermen/main/Splash.class
app/build/intermediates/classes/debug/com/dtt/pokermen/menu/ShowItems$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/menu/ShowItems.class
app/build/intermediates/classes/debug/com/dtt/pokermen/menu/ShowPkrmn$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/menu/ShowPkrmn$2.class
app/build/intermediates/classes/debug/com/dtt/pokermen/menu/ShowPkrmn.class
app/build/intermediates/classes/debug/com/dtt/pokermen/object/PokObj.class
app/build/intermediates/classes/debug/com/dtt/pokermen/object/PokerParty.class
app/build/intermediates/classes/debug/com/dtt/pokermen/object/Trainer.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/MusicManagment$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/MusicManagment$Songs.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/MusicManagment.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PlayerControlManager.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PlayerMovement$1.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PlayerMovement$2.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PlayerMovement$3.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PlayerMovement$4.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PlayerMovement.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/PokObjectSQLiteHandler.class
app/build/intermediates/classes/debug/com/dtt/pokermen/util/ResourceManager.class
app/build/intermediates/dex/debug/classes.dex
app/build/intermediates/incremental/aidl/androidTest/debug/dependency.store
app/build/intermediates/incremental/aidl/debug/dependency.store
app/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
app/build/intermediates/incremental/mergeAssets/debug/merger.xml
app/build/intermediates/incremental/mergeResources/androidTest/debug/merger.xml
app/build/intermediates/incremental/mergeResources/debug/merger.xml
app/build/intermediates/manifests/androidTest/debug/AndroidManifest.xml
app/build/intermediates/manifests/full/debug/AndroidManifest.xml
app/build/intermediates/pre-dexed/debug/support-v4-19.1.0-bcdc9e98259005f1d2a9b414750b2f86411cbfa8.jar
app/build/intermediates/res/debug/drawable-hdpi/ic_launcher.png
app/build/intermediates/res/debug/drawable-mdpi/cramp_forest.png
app/build/intermediates/res/debug/drawable-mdpi/doc.png
app/build/intermediates/res/debug/drawable-mdpi/dong_cave.png
app/build/intermediates/res/debug/drawable-mdpi/empty_img.png
app/build/intermediates/res/debug/drawable-mdpi/hip_hop_city.png
app/build/intermediates/res/debug/drawable-mdpi/hitmonler_back.png
app/build/intermediates/res/debug/drawable-mdpi/hitmonler_front.png
app/build/intermediates/res/debug/drawable-mdpi/ic_launcher.png
app/build/intermediates/res/debug/drawable-mdpi/info.png
app/build/intermediates/res/debug/drawable-mdpi/jaquinx_back.png
app/build/intermediates/res/debug/drawable-mdpi/jaquinx_front.png
app/build/intermediates/res/debug/drawable-mdpi/lvl_01_back.png
app/build/intermediates/res/debug/drawable-mdpi/move_up.png
app/build/intermediates/res/debug/drawable-mdpi/new_game_back.png
app/build/intermediates/res/debug/drawable-mdpi/nutterville.png
app/build/intermediates/res/debug/drawable-mdpi/peevee_back.png
app/build/intermediates/res/debug/drawable-mdpi/peevee_front.png
app/build/intermediates/res/debug/drawable-mdpi/pikrchu_back.png
app/build/intermediates/res/debug/drawable-mdpi/pikrchu_front.png
app/build/intermediates/res/debug/drawable-mdpi/player0.png
app/build/intermediates/res/debug/drawable-mdpi/player1.png
app/build/intermediates/res/debug/drawable-mdpi/player2.png
app/build/intermediates/res/debug/drawable-mdpi/pokermen.png
app/build/intermediates/res/debug/drawable-mdpi/pokermen_back.png
app/build/intermediates/res/debug/drawable-mdpi/pokrslow_back.png
app/build/intermediates/res/debug/drawable-mdpi/pokrslow_front.png
app/build/intermediates/res/debug/drawable-mdpi/prof_back.png
app/build/intermediates/res/debug/drawable-mdpi/prof_front.png
app/build/intermediates/res/debug/drawable-mdpi/pudgie_back.png
app/build/intermediates/res/debug/drawable-mdpi/pudgie_front.png
app/build/intermediates/res/debug/drawable-mdpi/splash.png
app/build/intermediates/res/debug/drawable-mdpi/tarduck_back.png
app/build/intermediates/res/debug/drawable-mdpi/tarduck_front.png
app/build/intermediates/res/debug/drawable-mdpi/tentacool_back.png
app/build/intermediates/res/debug/drawable-mdpi/tentacool_front.png
app/build/intermediates/res/debug/drawable-mdpi/trainer_01_front.png
app/build/intermediates/res/debug/drawable-mdpi/trainer_01_top.png
app/build/intermediates/res/debug/drawable-mdpi/trash.png
app/build/intermediates/res/debug/drawable-mdpi/txt_back.png
app/build/intermediates/res/debug/drawable-mdpi/txt_back_op.png
app/build/intermediates/res/debug/drawable-mdpi/weenle_back.png
app/build/intermediates/res/debug/drawable-mdpi/weenle_front.png
app/build/intermediates/res/debug/drawable-mdpi/wild_attack01.png
app/build/intermediates/res/debug/drawable-xhdpi/ic_launcher.png
app/build/intermediates/res/debug/drawable-xxhdpi/ic_launcher.png
app/build/intermediates/res/debug/layout/activity_battle.xml
app/build/intermediates/res/debug/layout/activity_lvl01.xml
app/build/intermediates/res/debug/layout/activity_lvl02.xml
app/build/intermediates/res/debug/layout/activity_lvl03.xml
app/build/intermediates/res/debug/layout/activity_lvl04.xml
app/build/intermediates/res/debug/layout/activity_lvl05.xml
app/build/intermediates/res/debug/layout/activity_main.xml
app/build/intermediates/res/debug/layout/activity_splash.xml
app/build/intermediates/res/debug/layout/items_screen.xml
app/build/intermediates/res/debug/layout/new_game.xml
app/build/intermediates/res/debug/layout/pokermen_screen.xml
app/build/intermediates/res/debug/layout/wild_attack.xml
app/build/intermediates/res/debug/menu/menu_lvl03.xml
app/build/intermediates/res/debug/menu/menu_lvl04.xml
app/build/intermediates/res/debug/menu/menu_lvl05.xml
app/build/intermediates/res/debug/raw/attack_theme.mp3
app/build/intermediates/res/debug/raw/cramp_forest.mp3
app/build/intermediates/res/debug/raw/dong_cave.mp3
app/build/intermediates/res/debug/raw/hip_hop_city.mp3
app/build/intermediates/res/debug/raw/nutterville.mp3
app/build/intermediates/res/debug/raw/pokermen_theme.mp3
app/build/intermediates/res/debug/raw/puble_town.mp3
app/build/intermediates/res/debug/values-v11/values-v11.xml
app/build/intermediates/res/debug/values-v14/values-v14.xml
app/build/intermediates/res/debug/values-w820dp/values-w820dp.xml
app/build/intermediates/res/debug/values/values.xml
app/build/intermediates/resources/resources-debug-androidTest.ap_
app/build/intermediates/resources/resources-debug.ap_
app/build/outputs/apk/app-debug-unaligned.apk
app/build/outputs/apk/app-debug.apk
app/build/outputs/logs/manifest-merger-debug-report.txt
